*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F9F9 ;
}
/* header style */
.hero-section{
    margin: 0 auto;
    min-width: 80%;
    max-width: 90%;
    margin-top: 10px;
    padding: 1rem;
    background-color: #F8F9F9 ;
    box-shadow: 10px 5px 5px gray;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* End header style */
/* Body style */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.employee-detail{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 90%;
    min-width: 80%;
    padding: 1rem;
    margin-top: 10px;
    box-shadow: 10px 5px 5px gray;
    background-color: #EAECEE;
}
.employee-detail:nth-child(odd){
    background-color: #F2F4F4;
}
 .name{
    width: 30%;
    max-width: 20%;
    text-align: start;

}
.dob{
    align-self: start;
    margin: 0 auto;
    width: 25%;
    max-width: 100%;
    text-align: center;
}
.dob h3{
    position: relative;
    left: 70px;
}
.address{
    width: 40%;
    max-width: 35%;
    text-align: right;
}
